#Sonar Scanner
.scannerwork/
.sonar-scanner/bin
.sonar-scanner/lib

# CAP sfc
_out
*.db
connection.properties
## default-*.json  (En aquest fitxer hi podem guardar informació dels serveis quan estiguem mockejant serveis cloud en local.)
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/
resources/
**/dist/
Makefile_*

# Other
.DS_Store
*.orig
*.log
*.zip

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea
/package-lock.json
default-env.json
**/package-lock.json
/src/shared/Contract.temp.ts
